[submodule "encoding/json5/testdata"]
	path = encoding/json5/testdata/standard
	url = https://github.com/json5/json5-tests
[submodule "encoding/toml/testdata"]
	path = encoding/toml/testdata/standard
	url = https://github.com/BurntSushi/toml-test
[submodule "encoding/yaml/testdata"]
	path = encoding/yaml/testdata/standard
	url = https://github.com/yaml/yaml-test-suite
