on: [push, pull_request]
name: Test
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.18.x

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Check Format
      run: test -z $(gofmt -l ./...)

  test:
    strategy:
      matrix:
        go-version: [1.18.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Prevent git from converting line endings
      run: git config --global core.autocrlf false

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Test
      run: go test ./...
